#container {
  perspective: 30px;
  perspective-origin: center;
  display: flex;
  flex-direction: column;
  margin: auto auto auto auto;
}

.inner {
  width: 80vh;
  height: 80vh;
  max-width: 80vh;
  z-index: 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  transition: transform 0.5s;
  cursor: none;

  &__image {
    height: 55%;
    width: auto;
    perspective: 5px;
    margin: auto auto auto auto;
    right: 20vh;
    top: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }

  &__blur {
    overflow: hidden;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    z-index: 0;
    margin: auto auto auto auto;
    right: 10vh;
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    background: linear-gradient(
      -45deg,
      #3500fe,
      #00fefe,
      #b200fc,
      #00c2ff,
      #ff86ff,
      #fefeb8,
      #02ff07,
      #fefe00,
      #fb0088,
      #fe0000
    );
    filter: blur(1rem);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
