#container {
  perspective: 10px;
  perspective-origin: center;
}

.inner {
  width: 60vh;
  height: 60vh;
  max-width: 60vh;
  z-index: 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  transition: transform 0.5s;
  float: right;
  cursor: none;

  &__image {
    height: 50%;
    width: auto;
    perspective: 5px;
    margin: auto auto auto auto;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }

  &__blur {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0em;
    left: 0em;
    position: absolute;
    background-color: white;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 65%);
    filter: blur(8px);
  }
}
