.footer {
  height: 50vh;
  padding-top: 15vh;
  background-color: $main-color;
  overflow-y: hidden;

  img {
    height: 5vh;
  }

  &__topcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__media {
    margin: auto;
    display: flex;
    justify-content: flex-end;
  }

  &__contact {
    &inner {
      height: 10vh;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      * {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
