.cognosis {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;

  &__cover {
    width: 100%;
    height: 60vh;
    position: relative;
    background-position: center;
    filter: grayscale(100%);
    background-image: url("/images/projects/cognosis/thumbnail/cognosis_thumbnail_background.jpg");
    transition: 1.5s;
  }

  &__cover:hover {
    filter: grayscale(0);
    transition: 1.5s;
    .cognosis__imageCover {
      opacity: 1;
      bottom: 5vh;
      transition: 1.5s;
    }
  }

  &__gradient {
    height: 7vh;
    width: 100%;
    padding: 1;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  }

  &__imageCover {
    height: 20vh;
    width: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: 1.5s;
  }

  &__information {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: white;
  }

  &__decoration {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    left: 0;
    margin: auto auto auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    background: linear-gradient(-45deg, #3500fe, #00fefe, #00c2ff);
    filter: blur(1rem);
    background-size: 300% 300%;
    animation: gradient 5s ease infinite;
  }

  &__text {
    width: 60%;
    margin: auto auto auto auto;
    top: 0;
    bottom: 0;

    p {
      color: #514F54;
      font-family: $main-font, sans-serif;
      font-weight: 400;
      font-size: 0.725em;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
