@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext");

$main-color: rgb(0, 84, 255) !global;
$main-color-alpha: #0054ff75 !global;
$main-font: "Inter" !global;
$secondary-color: rgb(81, 79, 84) !global;
$secondary-color-alpha: #514f5450 !global;

@import "./components/Cover/cover";
@import "./components/Header/header";
@import "./components/Nav/nav";
@import "./components/Footer/footer";
@import "./components/About/about";
@import "./components/NotFound/notfound";

@import "./components/Projects/Viewer/viewer";
@import "./components/Projects/Cognosis/cognosis";
@import "./components/Projects/Duino/duino";
@import "./components/Projects/Nasa/nasa";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: ease 0.5s;
}

.app {
  width: 100%;
  max-width: 100vh;
  display: flex;
  justify-content: csenter;
  align-items: center;
  flex-flow: column;

  margin: auto;
  background-color: white;

  a {
    text-decoration: none;
    color: $secondary-color;
  }

  &__container {
    width: 100%;
  }

  s {
    color: $secondary-color;
    opacity: 0.25;
  }
}

h1 {
  color: $main-color;
  font-family: $main-font, sans-serif;
  font-weight: 700;
  font-size: 5em;
}

h2 {
  color: $main-color;
  font-family: $main-font, sans-serif;
  font-weight: 700;
  font-size: 1.125em;
}

h3 {
  color: white;
  font-family: $main-font, sans-serif;
  font-weight: 700;
  font-size: 1.725em;
}

h4 {
  color: white;
  font-family: $main-font, sans-serif;
  font-weight: 400;
  font-size: 0.725em;
}

h5 {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 0;
}

.heading_1 {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 800;
  font-size: 3em;
}

.heading_2 {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  margin-top: 0.5vh;
  padding: 0;
}

.heading_3 {
  color: #6ae2c6;
  font-family: $main-font, sans-serif;
  font-weight: 800;
  font-size: 1em;
  margin-bottom: 0;
}

.heading_4 {
  color: #ffa50a;
  font-family: $main-font, sans-serif;
  font-weight: 800;
  font-size: 1em;
  margin-bottom: 0;
}

.paragraph_1 {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

.heading_list {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.paragraph_list {
  text-align: center;
  color: $secondary-color-alpha;
  font-family: $main-font, sans-serif;
  font-weight: 400;
  font-size: 1.125em;
}

.text {
  &-container {
    display: flex;
    flex-direction: column;
    max-width: 35vw;
    margin: auto;
  }

  &-centered {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;

    &-row {
      display: flex;
      flex-direction: row;
    }
  }
}

.half-container {
  display: flex;
  width: 100%;

  .left {
    left: 0;
    width: 50%;
    padding-left: 2.5vh;
  }

  .right {
    right: 0;
    width: 50%;
    padding-right: 2.5vh;
  }
}

.mostly-container {
  display: flex;
  width: 100%;

  .left {
    left: 0;
    width: 20%;
    padding-left: 2.5vh;
  }

  .right {
    right: 0;
    width: 80%;
    padding-right: 2.5vh;
  }
}

.wide {
  &-90 {
    width: 90%;
  }
  &-75 {
    width: 75%;
  }
}

.sca-75 {
  color: #514f5480;
}

.spacing {
  &-none {
    margin-top: 0;
    margin-bottom: 0;
  }
  &-5vh {
    margin-top: 5vh;
    margin-bottom: 5vh;
    &-top {
      margin-top: 5vh;
    }

    &-bottom {
      margin-bottom: 5vh;
    }

    &-left {
      margin-left: 5vh;
    }

    &-right {
      margin-right: 5vh;
    }
  }

  &-7.5vh {
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    &-top {
      margin-top: 7.5vh;
    }

    &-bottom {
      margin-bottom: 7.5vh;
    }
  }

  &-10vh {
    margin-top: 10vh;
    margin-bottom: 10vh;
    &-top {
      margin-top: 10vh;
    }

    &-bottom {
      margin-bottom: 10vh;
    }
  }

  &-20vh {
    margin-top: 20vh;
    margin-bottom: 20vh;
    &-top {
      margin-top: 20vh;
    }

    &-bottom {
      margin-bottom: 20vh;
    }
  }
}

.line {
  &-a {
    height: 0.15vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 84, 89, 1) 50%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &-b {
    height: 0.15vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 165, 10, 1) 50%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &-c {
    height: 0.15vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(155, 215, 26, 1) 50%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  &-d {
    height: 0.15vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(0, 188, 209, 1) 50%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centered {
  top: 0;
  bottom: 0;
  margin: auto auto auto auto;
}

.img {
  &-medium {
    &-vertical {
      width: auto;
      height: 50%;
      max-height: 50%;
    }
  }

  &-small {
    margin: 0;
    padding: 0;
    &-vertical {
      margin: 0;
      padding: 0;
      width: 25%;
      height: 25%;
      max-height: 25%;
      &-right {
        right: 0;
        padding: 0;
        width: 25%;
        max-width: 7.5%;
        height: auto;
        margin: 0;
        padding: 0;
      }
    }
  }

  &-tiny {
    &-vertical {
      width: 12.5%;
      height: 12.5%;
      max-height: 12.5%;
      &-right {
        right: 0;
        padding: 0;
        width: 25%;
        max-width: 3.75%;
        height: auto;
        margin: 0;
        padding: 0;
      }
    }
  }

  &-centered {
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
  }

  &-left {
    width: 50%;
    max-width: 50%;
    height: auto;
    left: 0;
    margin: auto;
  }

  &-right {
    width: 50%;
    max-width: 50%;
    height: auto;
    right: 0;
    margin: auto;
  }
}

.rotated {
  transform: rotate(-90deg);
}

::-webkit-scrollbar {
  width: 0.35vw;
  height: 0.25vw;
}
::-webkit-scrollbar-button {
  width: 1vw;
  height: 0;
  top: 0;
}
::-webkit-scrollbar-thumb {
  background: #97b9ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0054ff;
}
::-webkit-scrollbar-thumb:active {
  background: #0054ff;
}
::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #c0c0c0;
}
::-webkit-scrollbar-track:active {
  background: #c0c0c0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
