@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext");
@import "~bootstrap/scss/bootstrap";

$main-color: rgb(0, 84, 255) !global;
$main-color-alpha: #0054ff75 !global;
$main-font: "Inter" !global;
$secondary-color: rgb(81, 79, 84) !global;
$secondary-color-alpha: #514f5450 !global;

@import "./components/Cover/cover";
@import "./components/Header/header";
@import "./components/Nav/nav";
@import "./components/Footer/footer";
@import "./components/About/about";
@import "./components/NotFound/notfound";

@import "./components/Handlers/ScrollHandler/scrollhandler";
@import "./components/Handlers/SideHandler/sidehandler";

@import "./components/Projects/Template/01Banner/banner";
@import "./components/Projects/Template/02Intro/intro";
@import "./components/Projects/Template/03Info/info";
@import "./components/Projects/Template/04Met/met";
@import "./components/Projects/Template/05Discover/discover";
@import "./components/Projects/Template/06Define/define";
@import "./components/Projects/Template/07Learn/learn";

@import "./components/Projects/Template/ProjectGallery/projectgallery";
@import "./components/Projects/Template/ProjectCard/projectcard";
@import "./components/Projects/Template/ProjectList/projectlist";
@import "./components/Projects/Template/ProjectShowcase/projectshowcase";
@import "./components/Projects/Template/ProjectFarewell/projectfarewell";
.app {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: ease 0.5s;
}

h1 {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

h2 {
  color: $secondary-color;
  font-family: $main-font, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

h3 {
  color: white;
  font-family: $main-font, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h4 {
  color: white;
  font-family: $main-font, sans-serif;
  font-weight: 500;
  font-size: 0.725rem;
}

h5 {
  color: $main-color;
  font-family: $main-font, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h6 {
  color: $main-color;
  font-family: $main-font;
  font-weight: 300;
  font-size: 1.125rem;
}

p {
  color: $secondary-color;
  font-family: $main-font;
  font-weight: 500;
  font-size: 1.35rem;
}

a {
  text-decoration: none;
  text-emphasis: none;
  text-decoration-color: $secondary-color;
  color: $secondary-color;
}

a:hover {
  text-decoration: none;
  text-emphasis: none;
  text-decoration-color: $secondary-color;
  color: $secondary-color;
}

.rotated {
  transform: rotate(-90deg);
}

::-webkit-scrollbar {
  width: 0.35vw;
  height: 0.25vw;
}
::-webkit-scrollbar-button {
  width: 1vw;
  height: 0;
  top: 0;
}
::-webkit-scrollbar-thumb {
  background: #97b9ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0054ff;
}
::-webkit-scrollbar-thumb:active {
  background: #0054ff;
}
::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #c0c0c0;
}
::-webkit-scrollbar-track:active {
  background: #c0c0c0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
