.nav {
  height: 10vh;
  width: 100%;
  max-width: 100vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin: auto;
  padding-top: 2.5vh;
  z-index: 10;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);

  &__container {
    margin: auto;
    width: 100%;
    max-width: 100%;
  }

  &__left {
    width: 50%;
    height: auto;
    float: left;

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      font-family: $main-font, sans-serif;
      font-weight: 200;
      color: $main-color;
    }
  }

  &__right {
    width: 50%;
    height: auto;
    float: right;

    img {
      height: 5vh;
      width: auto;
      float: right;
    }
  }
}
