.sidehandler {
    margin: auto;
    margin-right: 0;
    float: right;
    cursor: pointer;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
        right: 0;
    }

    &__img {
        width: 7vh;
        height: auto;
        transform: rotate(270deg);
    }
}
